<div class="cloud-set-password">
    <div class="content">
      <div class="title">{{'CLOUD.PASSWORD' | translate}}</div>
      <dx-text-box class="password-input" [mode]="mode" [(ngModel)]="password" [disabled]="!nextBtn.isFinished" (onEnterKey)="execute($event)"></dx-text-box>
      <div class="lock"></div>
      <div class="toggle-password" [ngClass]="className" (click)="toggle()"></div>
      <div class="next">
        <base-button #nextBtn text="{{'CLOUD.SET_PASSWORD_BTN' | translate}}" [width]="100" [height]="36" (onClick)="setPassword()"></base-button>
      </div>
    </div>
  </div>
  