::ng-deep .cloud-set-password {
    padding: 4px 12px;
    .content {
      position: relative;
      max-width: 400px;
      .title {
        margin-bottom: 4px;
        color: #132a50;
        font-size: 11px;
        font-weight: 500;
      }
  
      .password-input {
        input {
          padding-left: 48px;
          padding-right: 48px;
        }
      }
  
      .lock,
      .toggle-password {
        position: absolute;
        top: 28px;
        left: 8px;
        width: 20px;
        height: 20px;
        background-image: url(../../../../../assets/img/directory/padlock.png);
        background-size: contain;
      }
  
      .toggle-password {
        left: unset;
        right: 12px;
        cursor: pointer;
        &.show {
          background-image: url(../../../../../assets/img/directory/hide.png);
        }
        &.hide {
          background-image: url(../../../../../assets/img/directory/show.png);
        }
      }
  
      .next {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 8px;
        .mat-button-base {
          background-color: #132a50;
        }
      }
    }
  }
  
  ::ng-deep .c-set-password {
    .mat-dialog-container {
      padding: 16px !important;
    }
  }
  