.language-i18n {
  display: flex;
  width: 60px;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  .flag {
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    &.en {
      background-image: url(../../../../assets/img/flags/us.png);
    }
    &.vi {
      background-image: url(../../../../assets/img/flags/vietnam.png);
    }
  }
}
