::ng-deep .upload-avatar-popup {
    position: relative !important;
    .upload-avatar {
        position: absolute;
        inset: 24px;
        height: 100%;
        .base-uploader {
            height: 100%;
            .uploader {
                height: calc(100% - 92px);
                .ngx-dropzone {
                    height: 100%;
                }
            }
        }
    }
}
