<div class="open-loading">
  <div class="circle">
    <skeleton-loading></skeleton-loading>
  </div>
  <div class="line-wrapper">
    <div class="line first-line">
      <skeleton-loading></skeleton-loading>
    </div>
    <div class="line second-line">
      <skeleton-loading></skeleton-loading>
    </div>
    <div class="line third-line">
      <skeleton-loading></skeleton-loading>
    </div>
    <div class="line fourth-line">
      <skeleton-loading></skeleton-loading>
    </div>
  </div>
</div>
