<div class="cloud-enter-password">
  <div class="header">
    {{'CLOUD.ENTER_PASSWORD_FOR' | translate}} {{'CLOUD.DIRECTORY_TEXT' | translate}} <span class="dir-name" [matTooltip]="directory.name">{{directory.name}}</span>
  </div>
  <div class="content">
    <div class="title">{{'CLOUD.PASSWORD' | translate}}</div>
    <dx-text-box #textBox class="password-input" [mode]="mode" [(ngModel)]="password" [disabled]="!nextBtn.isFinished" (onEnterKey)="execute($event)"></dx-text-box>
    <div class="lock"></div>
    <div class="toggle-password" [ngClass]="className" (click)="toggle()"></div>
    <div class="next">
      <a class="reset-password" href="#" (click)="moveToReset($event)">{{ 'CLOUD.RESET_PASSWORD' | translate}}</a>
      <base-button #nextBtn text="{{'CLOUD.NEXT' | translate}}" [width]="80" [height]="36" (onClick)="validate()"></base-button>
    </div>
  </div>
</div>
