<div class="moving-progess">
  <div class="wrapper">
    <div class="title">Moving progess</div>
    <div class="progess-bar">
      <div class="bar" [ngStyle]="style"></div>

      <div class="b-horizontal">
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
      </div>
      <div class="b-horizontal">
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
      </div>
      <div class="b-horizontal">
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
      </div>
      <div class="b-horizontal">
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
        <div class="b-vertical"></div>
      </div>


    </div>
  </div>
</div>
