.moving-progess {
  height: 120px;
  .wrapper {
    height: 100%;
    .title {
      height: 24px;
    }
    .progess-bar {
      position: relative;
      height: calc(100% - 24px);
      padding: 2px;
      border: 1px solid #ddd;
      .b-horizontal {
        width: 100%;
        height: 25%;
        border-bottom: 1px solid #59e072;
        .b-vertical {
          display: inline-block;
          width: 12.5%;
          height: 100%;
          border-right: 1px solid #59e072;
        }

        &:last-child {
          border: none;
        }
      }
    }

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 100%;
      background-color: #06b025;
      transition: all 0.3s;
      opacity: 0.8;
    }
  }
}
