@import url("../../../../assets/css/var-spacing.css");
.verify-box {
    display: inline-block;
    padding: 4px 8px;
    .enter-otp-field {
        margin-bottom: 8px;
    }
    .verify-btn {
        flex-basis: 100%;
    }
    .re-provide-otp {
        margin-top: 12px;
        text-align: center;
        .resend {
            color: #3838ff;
            margin-left: 4px;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

:host ::ng-deep {
    .base-button {
        padding: 0 !important;
    }
}