::ng-deep .mp-combobox {
    position: relative;
    .dx-dropdowneditor-input-wrapper {
        position: relative;
    }
    .dx-texteditor-input {
        padding-right: 32px;
    }
    .add-icon {
        position: absolute;
        top: 0;
        right: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 100%;
        cursor: pointer;
        .icon {
            width: 16px;
            height: 16px;
            background-image: url(../../../../assets/img/plus.png);
        }
        &:hover {
            background-color: #ddd;
        }
    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        transform: translate(-12px, -18px);
    }
}
